.head1{
    background-color:green;
    color:aliceblue;
    width:100%;
    text-align:center;
    height:170px;
}
.head2{
    background-color: blue;
    color:aliceblue;
    width:100%;
    text-align:center;
    height:60px;
}
.head3{
    background-color: blue;
    color:aliceblue;
    width:100%;
    text-align:center;
    height:100px;
}
.head6{
    background-color:blue;
    color:white;
    height:100px;
}
.head4{
    background-color: blue;
    color:aliceblue;
    height:130px;
}
.head5{
    background-color: blue;
    color:aliceblue;
    height:100px;
}

